__Instrumented/
.vs/
bin/
Debug/
InternalTrace*
obj/
packages/
Release/

*.acv
*.user
*.suo
nunit-agent_*.log
QuickVsix/Properties/launchSettings.json
QuickVsixTests/AltCoverCodeCoverageResults_QuickVsixTests.xml
QuickVsixTests/CoberturaCodeCoverageResults_QuickVsixTests.xml
ReportGenerator_QuickVsixTests/
TestsFailedLastTime.txt
